@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");

:root {
  --color1: #1a201f;
  --color2: #539b23;
  --color3: #ff933a;
  --color4: #5a688f;
  --fontsize: 15.5px;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: var(--fontsize);
  background-color: #ffffff;
  color: #1a1a1a;
}

h1,
h2,
h3 {
  font-weight: bold;
}

#header {
  box-shadow: 0 0 10px #505050;
}

#header nav.navbar {
  background-color: var(--color1);
  min-height: 90px;
}

#header li.nav-item {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}

#header a.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#header a.nav-link.active {
  color: var(--color2);
}

#header a.nav-link.round {
  border-radius: 6px;
  background-color: var(--color2);
  color: white;
  border-radius: 50px;
  padding: 10px 22px;
}

#header .dropdown-menu {
  border: none;
}

#header .dropdown-item:hover {
  background-color: var(--color2);
  color: white;
}

@media screen and (max-width: 1000px) {
  #header nav.navbar {
    padding-left: 1em;
    padding-right: 1em;
  }
  #header li.nav-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}